<div class="page_main page_static page_static__contact">
  <div class="main_body">
    <div class="breadcrumb_container">
      <div class="container">
        <div id="breadcrumb" class="clearfix">
          <span class="breadcrumb_item">
            <a href="#"" title="Home">Home <i class="breadcrumb_arrow"><svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
                  <use xlink:href="#osc-icon-arrow"></use>
                </svg></i></a>
          </span>
          <span class="breadcrumb_item">
            <a href="#" title="Contact us">
              Contact us <i class="breadcrumb_arrow">
                <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
                  <use xlink:href="#osc-icon-arrow"></use>
                </svg>
              </i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="container stp_container ">
      <div class="stp_header">
        <h1 class="stp_title">Contact us</h1>
      </div>
      <div class="stp_body">
        <div class="contact_container">
          <div class="contact_content">
            <p>Our customer service team:</p>
            <p>Monday to Sunday - 9:00 AM to 5:30 PM (Central Standard Time)</p>
          </div>
          <div class="contact_title">
            We’d love to hear from you !
          </div>
          <div class="contact_group">
            <div class="row justify-content-center">
              <div class="col-md-4 contact_group__item">
                <div class="contact_option">
                  <div class="contact_option__icon">
                    <svg data-icon="osc-livechat" viewBox="0 0 24 24">
                      <use xlink:href="#osc-livechat"></use>
                    </svg>
                  </div>
                  <div class="contact_option__title">
                    Live Chat
                  </div>
                  <div class="contact_option__data">
                    <div class="mb10">Chat with our helpful customer service team</div>
                    <a href="#" onclick="window.fcWidget.open();window.fcWidget.show();" class="contact_option__action">Chat with us now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 contact_group__item">
                <div class="contact_option">
                  <div class="contact_option__icon color_blue">
                    <svg data-icon="osc-phone2" viewBox="0 0 19 20">
                      <use xlink:href="#osc-phone2"></use>
                    </svg> </div>
                  <div class="contact_option__title">
                    Phone
                  </div>
                  <div class="contact_option__data">
                    <div class="mb10">Contact via phone number</div>
                    <a href="#" class="contact_option__action">+1 (585) 366 8846 </a>
                    <a href="#" class="contact_option__action">+1 (844) 976 2696 </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 contact_group__item">
                <div class="contact_option">
                  <div class="contact_option__icon">
                    <svg data-icon="osc-email2" viewBox="0 0 24 18">
                      <use xlink:href="#osc-email2"></use>
                    </svg> </div>
                  <div class="contact_option__title">
                    Email
                  </div>
                  <div class="contact_option__data">
                    <div class="mb10">Email us directly at </div>
                    <a href="#" class="contact_option__action">support@gossby.com</a>
                    <a href="#" class="contact_option__action">help@gossby.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
