<div class="breadcrumb_container">
  <div class="container">
    <div id="breadcrumb" class="clearfix">
      <span class="breadcrumb_item">
        <a href="https://gossby.com/?sref=265" title="Home">Home
          <i class="breadcrumb_arrow">
            <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
              <use xlink:href="#osc-icon-arrow"></use>
            </svg>
          </i>
        </a>
      </span>
      <span class="breadcrumb_item">
        <a href="https://gossby.com/new-arrivals?sref=265" title="New Arrivals">
          New Arrivals
          <i class="breadcrumb_arrow">
            <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
              <use xlink:href="#osc-icon-arrow"></use>
            </svg>
          </i>
        </a>
      </span>
      <span class="breadcrumb_item">
        <a href="https://gossby.com/best-friends-personalized-mugs-well-be-friends-until-were?variant=34391&amp;sref=265" title="Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends">
          Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends
          <i class="breadcrumb_arrow">
            <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
              <use xlink:href="#osc-icon-arrow"></use>
            </svg>
          </i>
        </a>
      </span>
    </div>
  </div>
</div>
