/* =================== BEGIN: BREADCRUMB =================== */
.breadcrumb_container {
  padding: 4px 16px;
  margin-bottom: 30px;
}

@media (max-width:768px) {
  .breadcrumb_container {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.main_body .breadcrumb_container {
  padding-left: 0;
  padding-right: 0;
}

#breadcrumb {
  font-size: 14px;
  align-items: center;
  display: flex;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb_item {
  margin-right: 8px;
}

.breadcrumb_item--current {
  color: #3a3a3a;
}

.breadcrumb_item:last-child {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb_item:last-child a i.breadcrumb_arrow {
  display: none;
}

.breadcrumb_item a {
  color: #a7abb9;
}

.breadcrumb_item a:hover {
  color: #6170f7;
}

i.breadcrumb_arrow {
  display: inline-block;
  width: 10px;
  font-size: 0;
  vertical-align: middle;
  margin: 0 0 0 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* =================== END: BREADCRUMB =================== */
