.pagination-bar {
  border-top: 1px solid #eee;
  text-align: center;
  line-height: 1
}

.pagination-bar.pagination-bar--no-border {
  border-top: 0
}

.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.pagination * {
  box-sizing: border-box
}

.pagination a {
  color: inherit
}

.pagination li {
  display: block;
  float: left;
  min-width: 40px;
  height: 40px;
  color: #333;
  background: #fff;
  position: relative;
  border: 1px solid #bababa
}

.pagination li:not(.current) {
  cursor: pointer
}

.pagination li:not(.current):hover {
  background: #3d70d5;
  color: #fff;
  border-color: #1d53bf
}

.pagination li+li {
  margin-left: 5px
}

.pagination li.current {
  background: #ff3d57;
  border-color: #e71e39;
  color: #fff
}

.pagination li>* {
  display: block;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 38px
}

.pagination svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 13px 0
}

.pagination svg[data-icon^="osc-arrow-to-"] {
  padding: 12px 0
}

.pagination.pagination--small li {
  min-width: 30px;
  height: 30px
}

.pagination.pagination--small li > * {
  padding: 0 5px;
  line-height: 28px
}

.pagination.pagination--small svg {
  padding: 9px 0
}

.pagination.pagination--small svg[data-icon^="osc-arrow-to-"] {
  padding: 8px 0
}
