<form method="post" action="" class="catalog-cart-frm__container">
  <div class="catalog-cart-frm">
    <div class="campaign-options-container" id="campaign-options-container">
      <input name="custom[campaign][print_template_id]" type="hidden" value="1">
      <div class="option-item product-type">
        <div class="option-title">Choose a product type</div>
        <div class="product-type-list">
          <div class="item selected" title="Ceramic Mug" data-type="ceramic_mug" data-product-type-id="7">
            <div class="thumb" data-type="ceramic_mug" style="background-image: url(&quot;https://gossby.com/resource/template/core/image/catalog/campaign/type/icon/mug/11oz.jpg&quot;);"></div>
            <div class="title">Ceramic Mug</div>
          </div>
          <div class="item" title="Insulated Coffee Mug" data-type="insulated_coffee_mug" data-product-type-id="10">
            <div class="thumb" data-type="insulated_coffee_mug" style="background-image: url(&quot;https://gossby.com/resource/template/core/image/catalog/campaign/type/icon/mug/insulatedCoffee.jpg&quot;);"></div>
            <div class="title">Insulated Coffee Mug</div>
          </div>
        </div>
      </div>
      <div data-option="option7" data-option-id="7" id="selector-option-7" class="option-item selector-option color">
        <div class="option-title">Color</div>
        <div class="color-list">
          <div data-value="94" title="Pink" class="option-value-selector color" style="background-color: rgb(226, 170, 173);"></div>
          <div data-value="92" title="Red" class="option-value-selector color" style="background-color: rgb(211, 0, 0);"></div>
          <div data-value="91" title="Blue" class="option-value-selector color" style="background-color: rgb(65, 152, 205);"></div>
          <div data-value="90" title="Black" class="option-value-selector color selected" style="background-color: rgb(0, 0, 0);"></div>
          <div data-value="93" title="Navy" class="option-value-selector color" style="background-color: rgb(0, 0, 128);"></div>
        </div>
      </div>
      <div data-option="option8" data-option-id="8" id="selector-option-8" class="option-item selector-option button">
        <div class="option-title">Size</div>
        <div class="button-list">
          <div data-value="96" title="11 oz" class="option-value-selector option-button-selector button selected">11 oz</div>
          <div data-value="98" title="15 oz" class="option-value-selector option-button-selector button">15 oz</div>
        </div>
      </div>
    </div>
    <div class="campaign-personalized-container">
      <div class="personalized-design-config" data-id="2660">
        <h5 class="design-title">Personalized for Back</h5>
        <div class="personalized-config-frm">
          <div class="personalized-config-comp" data-component="switcherBySelect" data-key="VeXEqA0301323232" data-require="1">
            <div class="personalized-config-comp__title">Choose your product quote<span class="require"> *</span></div>
            <div class="personalized-config-comp__desc"><b>Description: </b>Make sure you have a look at all available quotes, they're really meaningful and funny</div>
            <div class="personalized-config-comp__content">
              <div class="select_wrap select_common--medium">
                <ins>
                  <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
                    <use xlink:href="#osc-icon-arrow"></use>
                  </svg>
                </ins>
                <select class="select_common" name="custom[campaign][personalizedDesign][_2660][VeXEqA0301323232]" data-config="VeXEqA0301323232">
                  <option value="">Please select an option</option>
                  <option value="k2r4IT0946802914" selected="selected">We'll Be Friends Until We're Old And Senile</option>
                  <option value="KHmr0k5915597570">Always Sisters</option>
                  <option value="X5mK8q3745143793">Besties Forever</option>
                </select></div>
              <div class="container"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="personalized-design-config" data-id="2658">
        <h5 class="design-title">Personalized for Front</h5>
        <div class="personalized-config-frm">
          <div class="personalized-config-comp" data-component="switcherBySelect" data-key="w24YPi7151117131" data-require="1">
            <div class="personalized-config-comp__title">Number of friends<span class="require"> *</span></div>
            <div class="personalized-config-comp__content">
              <div class="button-list">
                <div class="option-value selected">2<input type="radio" name="custom[campaign][personalizedDesign][_2658][w24YPi7151117131]" value="BNvusC9999111591"></div>
                <div class="option-value">3<input type="radio" name="custom[campaign][personalizedDesign][_2658][w24YPi7151117131]" value="bHTRUh5621115260"></div>
                <div class="option-value">4<input type="radio" name="custom[campaign][personalizedDesign][_2658][w24YPi7151117131]" value="aR9O632641114125"></div>
              </div>
              <div class="container">
                <div class="personalized-config-comp" data-component="input" data-key="Et5aVl2691501197" data-require="1">
                  <div class="personalized-config-comp__title">Friend #1 Name<span class="require"> *</span></div>
                  <div class="personalized-config-comp__content"><input placeholder="Enter" type="text" name="custom[campaign][personalizedDesign][_2658][Et5aVl2691501197]" maxlength="12" minlength="1" data-min-len="1" data-max-len="12" value="" data-config="Et5aVl2691501197" class="input_common input_common--medium input--error" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                    <div class="max_length_helper">0/12</div>
                  </div>
                  <div class="error-msg">
                    <svg data-icon="osc-icon-danger" viewBox="0 0 10 10">
                      <use xlink:href="#osc-icon-danger"></use>
                    </svg>
                    <span>This option is required!</span>
                  </div>
                </div>
                <div class="personalized-config-comp" data-component="switcherByImage" data-key="IqhuGG1179255722" data-require="1">
                  <div class="personalized-config-comp__title">Friend #1 Skin Color<span class="require"> *</span></div>
                  <div class="personalized-config-comp__content">
                    <div class="color-list"><label><input type="radio" name="custom[campaign][personalizedDesign][_2658][IqhuGG1179255722]" value="vBAV970064776705" data-scene="vBAV970064776705" data-title="Light Skin"><span style="background-image: url(&quot;https://gossby.com/storage/personalizedDesign/design/thumbnail/12.11.2020/181.CSHUU5fad10a654080.png&quot;);"></span></label><label><input type="radio" name="custom[campaign][personalizedDesign][_2658][IqhuGG1179255722]" value="IlThfG1090044619" data-scene="IlThfG1090044619" data-title="Tanned Skin"><span style="background-image: url(&quot;https://gossby.com/storage/personalizedDesign/design/thumbnail/12.11.2020/181.SIMZM5fad10a9d4a51.png&quot;);"></span></label><label><input type="radio" name="custom[campaign][personalizedDesign][_2658][IqhuGG1179255722]" value="hytLF86124614062" data-scene="hytLF86124614062" data-title="Dark Skin"><span style="background-image: url(&quot;https://gossby.com/storage/personalizedDesign/design/thumbnail/12.11.2020/181.4IGVP5fad10acc5b0e.png&quot;);"></span></label><label><input type="radio" name="custom[campaign][personalizedDesign][_2658][IqhuGG1179255722]" value="jz4GRZ0660076968" data-scene="jz4GRZ0660076968" data-title="Black Skin"><span style="background-image: url(&quot;https://gossby.com/storage/personalizedDesign/design/thumbnail/12.11.2020/181.20V615fad10af8abeb.png&quot;);"></span></label></div>
                    <div class="container"></div>
                  </div>
                  <div class="error-msg">
                    <svg data-icon="osc-icon-danger" viewBox="0 0 10 10">
                      <use xlink:href="#osc-icon-danger"></use>
                    </svg>
                    <span>This option is required!</span>
                  </div>
                </div>
                <div class="personalized-config-comp" data-component="switcherBySelect" data-key="bw1FlL9651125005" data-require="1">
                  <div class="personalized-config-comp__title">Friend #1 Hair<span class="require"> *</span></div>
                  <div class="personalized-config-comp__content">
                    <div class="select_wrap select_common--medium">
                      <ins>
                        <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
                          <use xlink:href="#osc-icon-arrow"></use>
                        </svg>
                      </ins>
                      <select class="select_common select_common--error" name="custom[campaign][personalizedDesign][_2658][bw1FlL9651125005]" data-config="bw1FlL9651125005">
                        <option value="">Please select an option</option>
                        <option value="hDUDDb5819811199">Neck Length</option>
                      </select>
                    </div>
                    <div class="container"></div>
                  </div>
                  <div class="error-msg">
                    <svg data-icon="osc-icon-danger" viewBox="0 0 10 10">
                      <use xlink:href="#osc-icon-danger"></use>
                    </svg>
                    <span>This option is required!</span>
                  </div>
                </div>
                <div class="personalized-config-comp" data-component="imageSelector" data-key="aXPm7j0927941119" data-require="1">
                  <div class="personalized-config-comp__title">Friend 1's Drink<span class="require"> *</span></div>
                  <div class="personalized-config-comp__content">
                    <div class="image-list">
                      <label>
                        <input type="radio" name="custom[campaign][personalizedDesign][_2658][aXPm7j0927941119]" value="zXbv6E095918101000080" data-config="aXPm7j0927941119">
                        <span style="background-image: url(&quot;https://gossby.com/var/opt_images/87231d0cc3dd116611c714ea3e4dc2b6.140x140.0.1570098106.jpg&quot;);"></span>
                      </label>
                      <label>
                        <input type="radio" name="custom[campaign][personalizedDesign][_2658][aXPm7j0927941119]" value="kJfZD2017911575805140" data-config="aXPm7j0927941119">
                        <span style="background-image: url(&quot;https://gossby.com/var/opt_images/5b2b14b8d4f9fe6b8c001a70cecefd89.140x140.0.1570098106.jpg&quot;);"></span>
                      </label>
                      <label>
                        <input type="radio" name="custom[campaign][personalizedDesign][_2658][aXPm7j0927941119]" value="Ll8sTV937991103018703" data-config="aXPm7j0927941119">
                        <span style="background-image: url(&quot;https://gossby.com/var/opt_images/e46a626a9dab178b686c3d8d249e54c8.140x140.0.1570098106.jpg&quot;);"></span>
                      </label>
                      <label>
                        <input type="radio" name="custom[campaign][personalizedDesign][_2658][aXPm7j0927941119]" value="PXN49P538579410811739" data-config="aXPm7j0927941119">
                        <span style="background-image: url(&quot;https://gossby.com/var/opt_images/f94bc1f4650d2c650bc684ea1973ded1.140x140.0.1570098107.jpg&quot;);"></span>
                      </label>
                      <label>
                        <input type="radio" name="custom[campaign][personalizedDesign][_2658][aXPm7j0927941119]" value="UdpMdC9047970784" data-config="aXPm7j0927941119">
                        <span style="background-image: url(&quot;https://gossby.com/var/opt_images/d7a72b11639241d62b898ecc44e57004.140x140.0.1570098033.jpg&quot;);"></span>
                      </label>
                    </div>
                  </div>
                  <div class="error-msg">
                    <svg data-icon="osc-icon-danger" viewBox="0 0 10 10">
                      <use xlink:href="#osc-icon-danger"></use>
                    </svg>
                    <span>This option is required!</span>
                  </div>
                </div>
                <div class="personalized-config-comp" data-component="checker">
                  <div class="personalized-config-comp__content">
                    <label>
                      <input type="hidden" name="custom[campaign][personalizedDesign][_2658][j7BkgT0700971588]" value="1">
                      <div class="styled-checkbox">
                        <input type="checkbox" value="1">
                        <ins>
                          <svg data-icon="osc-check-solid" viewBox="0 0 512 382">
                            <use xlink:href="#osc-check-solid"></use>
                          </svg>
                        </ins>
                      </div>
                      <span>Yes I Want To Put A Fancy Hat On</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mrk-preview-btn">Preview</div>
      <div class="personalized-config-note">Please make sure that all the options you have chosen are correct before clicking on the "Add To Cart" button.</div>
    </div>
    <input name="variant_id" data-cart-variant-id="1" type="hidden" value="34391">
    <div class="product_short_info">
      <div class="product_short_info_header">
        <div class="product_short_info_item product_short_info_item--showmore button_link active">
          <a href="javascript:void(0)" rel="nofollow">Hide Details</a>
          <i>
            <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
              <use xlink:href="#osc-icon-arrow"></use>
            </svg>
          </i>
        </div>
      </div>
      <div class="product_short_info_body">
        <div class="product_short_info_panel product_short_info_panel--detail active">
          <div class="product-detail product-detail-information osc-editor-style">
            <div class="product-more-info">
              <div class="info-tab">
                <h4 class="info-header">Description</h4>
                <div class="info-content">
                  <div>
                    <div>
                      <span style="color: rgb(0, 0, 0)">
                        We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends
                        <span style="color: rgb(0, 0, 0)">personalized mugs</span>.
                          There are so many opportunities to celebrate your beautiful friendship, such as birthdays, Christmas, and other sentimental moments "You're my person" - even if you're thousands of miles apart. Best friends personalized coffee mugs will surely touch your bestie's heart wherever they are with their beautiful customization and heart-melting quote. These custom mugs are the true definition of good birthday gifts or unique gifts for friends.
                        </span>
                        <br>
                      </div>
                  </div>
                </div>
              </div>
              <div class="js-info-tab-product-type">
                <div class="info-tab">
                  <h4>Product Information</h4>
                  <p>
                    <span style="color: rgb(40, 35, 100);">
                      <i>
                        Every sip will taste much better with your imprint on our 11 oz ceramic custom photo mugs. Unleash your creativity with our palette provided for displaying personalized full-color graphics, photographs, texts, and more. Enjoy better drink time with a beautifully-customized product that has excellent potential for repeat use.
                      </i>
                    </span>
                  </p>
                  <ul>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>White ceramic holds 11 ounces.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Measures 3.75 inches tall.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Images are printed on both sides.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Glossy finish.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Microwave safe and dishwasher safe with a mild detergent.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Made for hot beverages.&nbsp;</b></span></p>
                    </li>
                    <li>
                      <p><span style="color: rgb(40, 35, 100);"><b>Easy-grip handle.&nbsp;</b></span></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_short_info_panel product_short_info_panel--sizechart">
        </div>
      </div>
    </div>
    <div class="catalog-cart-frm__last-row clearfix product-detail-quantity">
      <div class="quantity">
        <label for="OVS00603e49fb28f0a">Quantity</label>
        <div class="quantity_box" data-id="OVS00603e49fb28f0a" id="quantity-box-OVS00603e49fb28f0a">
          <button type="button" class="quantity_box_btn quantity_box_btn--minus  quantity_box_btn_product_detail--minus minus">
            <svg data-icon="osc-icon-minus" viewBox="0 0 12 2">
              <use xlink:href="#osc-icon-minus"></use>
            </svg>
          </button>
          <input type="text" name="quantity" class="input_common input_common--tiny quantity_box_input" pattern="[0-9]*" inputmode="numeric" value="1" maxlength="3">
          <button type="button" class="quantity_box_btn quantity_box_btn_product_detail--plus quantity_box_btn--plus plus">
            <svg data-icon="osc-icon-plus" viewBox="0 0 12 12">
              <use xlink:href="#osc-icon-plus"></use>
            </svg> </button>
          <div class="quantity_box_overlay">
            Quantity
            <span>0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product_detail_group_btn">
    <button type="submit" name="add" id="add_to_cart_btn" class="button_primary button_large button_full" data-prod-price="1399" data-prod-type="ceramic_mug, enamel_campfire_mug, insulated_coffee_mug, two_tone_mug" data-prod-title="Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends">
      Add To Cart
    </button>
    <div class="paypal_button_wrap">
    </div>
  </div>
</form>
