<div class="page-component">
  <div class="container">
    <div class="block_container block_suggest">
      <div class="block_header">
        <h2 class="block_title">Recently viewed products</h2>
      </div>
      <div class="block_body">
        <div class="block_product">
          <div class="gap-large row">
            <div class="col-6 col-md-3 mb-gap">
              <div class="product_item">
                <a href="https://gossby.com/personalized-dog-mugs-girl-and-dogs-life-is-better-with-dogs?sref=265" class="product_item_thumb" title="Girl and Dogs - Life Is Better With Dogs">
                  <img src="" alt="Girl and Dogs - Life Is Better With Dogs" style="background: url(https://gossby.com/resource/template/frontend/default3/image/placeholder.png);background-size: cover;" onerror="this.srcset='https://gossby.com/resource/template/frontend/default3/image/placeholder.png'" srcset="https://gossby.com/var/opt_images/af441076f4e2e0185a55f1a37d75bd13.500x500.0.1611810360.png 425w,
                    https://gossby.com/var/opt_images/af441076f4e2e0185a55f1a37d75bd13.500x500.0.1611810360.png 1024w">
                </a>
                <a class="product_item_info" title="Girl and Dogs - Life Is Better With Dogs" href="#">
                  <h3 class="product_item_name">
                    <span>Girl and Dogs - Life Is Better With Dogs</span>
                  </h3>
                  <div class="product_item_type">
                    Personalized Mug&nbsp;
                  </div>
                  <div class="product_item_price">
                    <strong class="product_price_money"><span>$13.99 USD</span></strong>
                    <div class="product_item_saleoff">-44%</div>
                    <span class="product_price_money product_price_money--original">
                      <span>$24.99 USD</span>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>