<div class="review_container" id="review_container">
  <div class="review_header">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="review_title">
          <a href="#" title="Review">Review</a>
        </h3>
      </div>
      <div class="review_filter">
        <div class="review_filter__global">
          <strong>4.6 / 5</strong>
          <div class="review_filter__star">
            <div class="rating_star">
              <div style="width: 92%"></div>
            </div>
          </div>
          <div class="review_filter__total">
            50 Reviews
          </div>
        </div>
        <div class="review_filter_totalize">
          <div class="review_filter_totalize_item row">
            <div class="col-2 d-flex align-items-center justify-content-between">
              <span>5</span>
              <i>
                <svg data-icon="osc-icon-star-medium" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-medium"></use>
                </svg>
              </i>
            </div>
            <div class="col-8 col-md-9">
              <div class="review_filter_totalize__volume">
                <div style="width:84%"></div>
              </div>
            </div>
            <div class="col-2 col-md-1 md-text-right">
              <span>(42)</span>
            </div>
          </div>
          <div class="review_filter_totalize_item row">
            <div class="col-2 d-flex align-items-center justify-content-between">
              <span>4</span>
              <i><svg data-icon="osc-icon-star-medium" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-medium"></use>
                </svg></i>
            </div>
            <div class="col-8 col-md-9">
              <div class="review_filter_totalize__volume">
                <div style="width:6%"></div>
              </div>
            </div>
            <div class="col-2 col-md-1 md-text-right">
              <span>(3)</span>
            </div>
          </div>
          <div class="review_filter_totalize_item row">
            <div class="col-2 d-flex align-items-center justify-content-between">
              <span>3</span>
              <i><svg data-icon="osc-icon-star-medium" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-medium"></use>
                </svg></i>
            </div>
            <div class="col-8 col-md-9">
              <div class="review_filter_totalize__volume">
                <div style="width:4%"></div>
              </div>
            </div>
            <div class="col-2 col-md-1 md-text-right">
              <span>(2)</span>
            </div>
          </div>
          <div class="review_filter_totalize_item row">
            <div class="col-2 d-flex align-items-center justify-content-between">
              <span>2</span>
              <i><svg data-icon="osc-icon-star-medium" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-medium"></use>
                </svg></i>
            </div>
            <div class="col-8 col-md-9">
              <div class="review_filter_totalize__volume">
                <div style="width:0%"></div>
              </div>
            </div>
            <div class="col-2 col-md-1 md-text-right">
              <span>(0)</span>
            </div>
          </div>
          <div class="review_filter_totalize_item row">
            <div class="col-2 d-flex align-items-center justify-content-between">
              <span>1</span>
              <i><svg data-icon="osc-icon-star-medium" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-medium"></use>
                </svg></i>
            </div>
            <div class="col-8 col-md-9">
              <div class="review_filter_totalize__volume">
                <div style="width:6%"></div>
              </div>
            </div>
            <div class="col-2 col-md-1 md-text-right">
              <span>(3)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-right review_select_container">
    <div class="review_select_option">
      <i><svg data-icon="osc-icon-review-select-option" viewBox="0 0 21 20">
          <use xlink:href="#osc-icon-review-select-option"></use>
        </svg></i>
      <span>All</span>
      <i><svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
          <use xlink:href="#osc-icon-arrow"></use>
        </svg></i>
    </div>
    <div class="review_filter__options review-dropdown-select hide" id="review_filter_option" data-browse-url="#" data-product-id="5609">
      <div class="review_filter__item review-dropdown-select__option active" data-filter-option="all">
        <span>All</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="star" data-filter-value="5">
        <span>5 Star</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="star" data-filter-value="4">
        <span>4 Star</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="star" data-filter-value="3">
        <span>3 Star</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="star" data-filter-value="2">
        <span>2 Star</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="star" data-filter-value="1">
        <span>1 Star</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="has-comment">
        <span>Have comment</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
      <div class="review_filter__item review-dropdown-select__option" data-filter-option="has-photo">
        <span>Have picture</span>
        <i>
          <svg data-icon="osc-icon-option-selected-check" viewBox="0 0 14 10">
            <use xlink:href="#osc-icon-option-selected-check"></use>
          </svg>
        </i>
      </div>
    </div>
  </div>
  <div class="review_body">
    <div class="review_grid">
      <div class="container">
        <div class="review_grid__body" id="catalog-product-review">
          <div class="review_item__lst">
            <div class="review_item">
              <h4 class="review_item__name"> Susan K Sleighter </h4>
              <div class="review_item__status">
                <svg data-icon="osc-purchase-success" viewBox="0 0 512 512">
                  <use xlink:href="#osc-purchase-success"></use>
                </svg> Verified Buyer
              </div>
              <div class="review_item__meta">
                <div class="review_item__star">
                  <div class="rating_star">
                    <div style="width: 100%"></div>
                  </div>
                </div>
                <div class="review_item__date"><time datetime="Mar 01, 2021"> Mar 01, 2021</time></div>
              </div>
              <div class="review_item__content">
                <p class="trim_content">I just received my mugs today. Oh my gosh, they’re PERFECT!!! I, along with so many good friends, turn 60 this year. These are the PERFECT gift! My friends will love me! The options for hair styles and colors, and then picking our favorite colors for outfits, make these so...</p>
                <p class="full_content hide">I just received my mugs today. Oh my gosh, they’re PERFECT!!! I, along with so many good friends, turn 60 this year. These are the PERFECT gift! My friends will love me! The options for hair styles and colors, and then picking our favorite colors for outfits, make these so “us”. I don’t know if I can wait for summer to get here to hand these out. And I see so many other amazing designs that I’m already trying to figure who else I can shop for. Unfortunately my photo wouldn’t download (using an iPad, don’t have a computer) but as cute as these are, I don’t need the discount. Thanks for developing such a great idea!</p>
                <div class="btn_show_review_detail">
                  Show more
                  <svg data-icon=" osc-icon-arrow" viewBox="0 0 512 512">
                    <use xlink:href="#osc-icon-arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="review_item__bottom">
                <div class="review_item__product"> <a href="#" class="review_item__bottom-thumb" title="Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends"> <img src="#" alt="Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends" class="lazy_load" data-src="#" data-srcset="# 425w, https://gossby.com/var/opt_images/4c5a025199f3145c120ee1e139baa10e.150x150.0.1613550584.jpg 1024w" style="background: url(https://gossby.com/resource/template/frontend/default3/image/placeholder.png)"> </a>
                  <div> <a class="review_item__product_name" href="#" title="Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends"> Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends </a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="review_paging">
            <div class="p20 m-auto">
              <div id="paging">
                <div class="paging_container">
                  <div class="paging_lst">
                    <div class="paging_item current">
                      <div>1</div>
                    </div>
                    <div class="paging_item"><a href="#">2</a></div>
                    <div class="paging_item"><a href="#">3</a></div>
                    <div class="paging_item"><a href="#">4</a></div>
                    <div class="paging_item"><a href="#">5</a></div>
                    <div class="paging_item paging_item--last">
                      <a href="#">
                        <svg data-icon="osc-icon-arrow-double" viewBox="0 0 512 512">
                          <use xlink:href="#osc-icon-arrow-double"></use>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal_review__create" class="modal modal_custom">
    <a href="#" rel="modal:close" class="modal_close">
      <svg data-icon="osc-modal-close" viewBox="0 0 29 30">
        <use xlink:href="#osc-modal-close"></use>
      </svg> </a>
    <div class="modal_review__create-group">
      <!--STEP 1-->
      <div class="modal_review__create-step modal_review__create-step1 vote active">
        <div class="modal_review__create-header">
          <div class="modal_review__create-title">
            Write a review
          </div>
        </div>
        <div class="modal_review__create-body">
          <div class="d-flex justify-content-between modal_review__create-body_item">
            <span>Name</span>
            <input type="text" class="input_common input_common--medium" name="first_name">
          </div>
          <div class="d-flex justify-content-between mt-3 modal_review__create-body_item">
            <span>Email</span>
            <input type="text" class="input_common input_common--medium" name="email">
          </div>
          <div class="d-flex justify-content-between mt-3 modal_review__create-body_item">
            <span>Rating</span>
            <div class="modal_review__create-body--rating d-flex align-items-center">
              <i class="evaluate_star__option" data-vote="1">
                <svg data-icon="osc-icon-star-gray" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-gray"></use>
                </svg>
              </i>
              <i class="evaluate_star__option" data-vote="2">
                <svg data-icon="osc-icon-star-gray" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-gray"></use>
                </svg>
              </i>
              <i class="evaluate_star__option" data-vote="3">
                <svg data-icon="osc-icon-star-gray" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-gray"></use>
                </svg>
              </i>
              <i class="evaluate_star__option" data-vote="4">
                <svg data-icon="osc-icon-star-gray" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-gray"></use>
                </svg>
              </i>
              <i class="evaluate_star__option" data-vote="5">
                <svg data-icon="osc-icon-star-gray" viewBox="0 0 23 23">
                  <use xlink:href="#osc-icon-star-gray"></use>
                </svg>
              </i>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-3 align-items-start modal_review__create-body_item">
            <span>Review</span>
            <div class="container-upload-image">
              <textarea type="text"></textarea>
              <form class="modal_review__form-image" data-upload-url="#">
                <div class="review__form-image">
                  <div class="review__form-image_item review__form-image_btn" data-require-photo="1">
                    <label for="addimage">
                      <img src="./product-details_files/upload-review-image.png">
                    </label>
                    <div class="uploader-btn osc-uploader">
                      <div class="drag-drop-area"><span>Drop here to upload</span></div>
                      <div class="browser-btn"><input type="file" tabindex="-1" accept=".png, .jpg, .gif" multiple="multiple">
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="container-submit-review d-flex justify-content-end mt-3">
            <a href="#" rel="modal:close" class="button_gray mr-2 btn_cancel_review">Cancel</a>
            <button id="btn_submit_review" data-process-url="#" data-product-id="5609" class="button_primary">Submit</button>
          </div>
        </div>
      </div>
      <!--STEP 3-->
      <div class="modal_review__create-step modal_review__create-step3 content">
        <div class="modal_review__create-header">
          <div class="modal_review__create-title">
            Please leave your feedback below !
          </div>
        </div>
        <div class="modal_review__create-body">
          <form class="modal_review__from">
            <textarea class="textarea" rows="14" placeholder="Enter"></textarea>
          </form>
        </div>
        <div class="modal_review__create-footer">
          <a href="javascript: eventProductDetailReviewChange.loadModalCreateReview('upload')" rel="nofollow" class="btn_prev">Back</a>
          <a href="javascript: eventProductDetailReviewChange.loadModalCreateReview('info')" rel="nofollow" class="btn_next">Skip</a>
        </div>
      </div>
      <!--STEP 4-->
      <div class="modal_review__create-step modal_review__create-step4 info">
        <div class="modal_review__create-header">
          <div class="modal_review__create-title">
            About You
          </div>
        </div>
        <div class="modal_review__create-body">
          <form class="frm_common  modal_review__form">
            <div class="row mb-3">
              <div class="col-md-6 modal_review__form-col">
                <fieldset class="frm_fieldset">
                  <label class="frm_label">First Name</label>
                  <div class="frm_row">
                    <input type="text" class="input_common input_common--small" placeholder="Enter" name="first_name">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6 modal_review__form-col">
                <fieldset class="frm_fieldset">
                  <label class="frm_label">Last Name</label>
                  <div class="frm_row">
                    <input type="text" class="input_common input_common--small" placeholder="Enter" name="last_name">
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <fieldset class="frm_fieldset">
                  <label class="frm_label">Email</label>
                  <div class="frm_row">
                    <input type="text" class="input_common input_common--small" placeholder="Enter" name="email">
                  </div>
                </fieldset>
              </div>
            </div>
            <p class="note">
              By submitting, I acknowledge the Privacy Policy and that my review will be publicly posted and shared online
            </p>
          </form>
        </div>
        <div class="modal_review__create-footer">
          <a href="javascript: eventProductDetailReviewChange.loadModalCreateReview('content')" rel="nofollow">Back</a>
          <a class="button_primary" data-process-url="#" data-product-id="5609">Submit</a>
        </div>
      </div>
      <!--STEP 5-->
      <div class="modal_review__create-step modal_review__create-step5 finish">
        <div class="modal_review__create-header">
          <div class="modal_review__create-title">
            <div><svg data-icon="osc-modal-review-text-thankyou" viewBox="0 0 195 44">
                <use xlink:href="#osc-modal-review-text-thankyou"></use>
              </svg></div>
            FOR FEEDBACK
          </div>
        </div>
        <div class="modal_review__create-body">
          <div class="color_text">
            Your review will be reviewed before being
            <br>
            published on the website
          </div>
        </div>
        <div class="modal_review__create-footer">
          <a href="#" rel="modal:close" class="button_primary">
            <i>
              <svg data-icon="osc-icon-arrow" viewBox="0 0 19 11">
                <use xlink:href="#osc-icon-arrow"></use>
              </svg>
            </i>
            Continue Shopping
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="modal_review__detail" class="modal modal_custom modal_review_detail"></div>
</div>