<%= render 'shared/breadcrumb' %>
<div class="page_main" id="page_product_detail">
  <div class="main_body">
    <div class="container">
      <div class="row product-detail product-detail-contents" data-product-section="1" data-product-id="5609" data-frequently-bought-together="0">
        <div class="col-lg-6 product_detail_col product_detail_col--left">
          <div class="product-gallery">
            <div class="product-gallery__images">
              <div class="product-gallery__images-container" style="left: 0px;">
                <div class="selected" data-id="284246">
                  <img src="https://gossby.com/var/opt_images/2ef736a1a686ce177eec8b1ceec86a73.1000x1000.0.1594266431.jpg" alt="Personalized Mug - Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends">
                </div>
              </div>
              <div class="product_item_saleoff">-44%</div>
            </div>
            <div class="product-gallery__thumbs" 'style="display: none" '="" style="display: block;">
              <div class="product-gallery__thumbs-container">
                <div class="selected" data-id="284246">
                  <img src="https://gossby.com/var/opt_images/2ef736a1a686ce177eec8b1ceec86a73.200x200.0.1594266431.jpg" alt="Personalized Mug - Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1 product_detail_col product_detail_col--right">
          <div class="product_detail_header">
            <h1 class="product_detail_name">
              Best friends - We'll Be Friends Until We're Old And Senile, Then We'll Be New Best Friends </h1>
            <div class="product-detail__price">
              <div class="product_item_price"><span class="product_price_money"><span><span>$13.99 USD</span></span></span><span class="product_price_money product_price_money--original"><span><span>$24.99 USD</span></span></span></div>
            </div>
            <div class="product_detail_campaign" style="display: initial;">
              <h4 class="product_detail_campaign_des">HURRY UP! OFFER ENDS IN</h4>
              <div class="persistent_timer" data-enddate="1614762623">
                <div class="persistent_timer__item">
                  <div class="persistent_timer__days">00</div>
                  Day
                </div>
                <div class="persistent_timer__item">
                  <div class="persistent_timer__hours">18</div>
                  Hours
                </div>
                <div class="persistent_timer__item">
                  <div class="persistent_timer__minutes">42</div>
                  Min
                </div>
                <div class="persistent_timer__item">
                  <div class="persistent_timer__seconds">16</div>
                  Sec
                </div>
              </div>
            </div>
            <div class="product-cut_off_time_message"></div>
            <div class="product_detail__country">
              <span class="icon">
                <span class="flag-icon flag-icon-us"></span>
              </span>
              <div class="content">
                <span class="label">Products are manufactured in</span>
                <span class="country">United States</span>
              </div>
            </div>
            <div class="product_detail_estimated">
              <div class="customer-campaign-estimated estimated_delivery">
                <span class="icon">
                  <span class="flag-icon flag-icon-us"></span>
                </span>
                <div class="content">
                  <span class="label">Delivery</span>
                  <span class="time">Express by 12 Mar</span>
                </div>
              </div>
            </div>
            <a onclick="moveToReview()" class="read_reviews button_link">
              Read reviews
              <svg data-icon="osc-icon-vector" viewBox="0 0 12 12">
                <use xlink:href="#osc-icon-vector"></use>
              </svg>
            </a>
          </div>
          <%= render 'custom_product_form' %>
          <div class="product-detail__cart-note">
            <div>- Shipping calculated at checkout</div>
            <div>- Need Help?<a class="color_text_secondary" href="#" rel="nofollow"> support@gossby.com</a></div>
            <div>- Guaranteed safe and secure checkout via:</div>
          </div>
          <div class="product-detail__secure-logo">
            <ul class="payment_logos">
              <li class="payment_logos--paypal">
                <svg data-icon="osc-paypal" viewBox="0 0 512 124.046">
                  <use xlink:href="#osc-paypal"></use>
                </svg>
              </li>
              <li class="payment_logos--visa">
                <svg data-icon="osc-brand-icon-visa" viewBox="0 0 62 20">
                  <use xlink:href="#osc-brand-icon-visa"></use>
                </svg>
              </li>
              <li class="payment_logos--master">
                <svg data-icon="osc-brand-icon-master" viewBox="0 0 28 21">
                  <use xlink:href="#osc-brand-icon-master"></use>
                </svg>
              </li>
              <li class="payment_logos--dc">
                <svg data-icon="osc-brand-icon-discover" viewBox="0 0 67 22">
                  <use xlink:href="#osc-brand-icon-discover"></use>
                </svg>
              </li>
              <li class="payment_logos--ae">
                <svg data-icon="osc-brand-icon-ae" viewBox="0 0 67 23">
                  <use xlink:href="#osc-brand-icon-ae"></use>
                </svg>
              </li>
            </ul>
          </div>
          <div class="product_detail_share">
            <span>Share: </span>
            <div class="share_group_icon">
              <a target="_blank" class="share_item share_item__fb" href="#" rel="nofollow" data-social-network="facebook">
                <svg data-icon="osc-icon-facebook" viewBox="0 0 10 18">
                  <use xlink:href="#osc-icon-facebook"></use>
                </svg> </a>
              <a target="_blank" class="share_item share_item__twitter" href="#" rel="nofollow" data-social-network="twitter">
                <svg data-icon="osc-icon-twitter" viewBox="0 0 18 15">
                  <use xlink:href="#osc-icon-twitter"></use>
                </svg> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'recently_view_products' %>
  </div>
  <%= render 'reviews' %>
</div>
