<div id="footer">
  <div class="container">
    <div class="row footer_info">
      <div class="col-xl-2 col-lg-3 col-12 footer_col">
        <div class="footer_logo">
          <a href="#" title="Gossby">
            <img src="<%= asset_path('logo.svg') %>" alt="Gossby">
          </a>
          <div id="trustpilot-widget">
            <div class="trustpilot-widget"style="position: relative;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer_col">
        <h4 class="footer_col_name">Information</h4>
        <div class="footer_col_body">
          <ul class="footer_menu">
            <li class="footer_menu_item"><a href="#" title="About Us">About Us</a></li>
            <li class="footer_menu_item"><a href="#" target="_blank" title="Help Center">Help Center</a></li>
            <li class="footer_menu_item"><a href="#" title="FAQs">FAQs</a></li>
            <li class="footer_menu_item"><a href="#" title="Payment Methods">Payment Methods</a></li>
            <li class="footer_menu_item"><a href="#" title="Privacy Policy">Privacy Policy</a></li>
            <li class="footer_menu_item"><a href="#" title="Shipping Policy">Shipping Policy</a></li>
            <li class="footer_menu_item"><a href="#" title="Refund Policy">Refund Policy</a></li>
            <li class="footer_menu_item"><a href="#" title="Terms of Service">Terms of Service</a></li>
            <li class="footer_menu_item"><a href="#" title="Track order">Track order</a></li>
            <li class="footer_menu_item"><a href="#" title="Happy Customers">Happy Customers</a></li>
            <li class="footer_menu_item"><a href="#" title="Contact Us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer_col">
        <h4 class="footer_col_name">Gossby</h4>
        <div class="footer_col_body">
          <div>6901 Riverport Dr<br>Louisville, KY, 40258<br>United States</div>
          <div>support@gossby.com</div>
          <div>help@gossby.com<br></div>
          <div class="footer_col_body__phone">
            <div class="phone-item">
              <a href="tel:+15853668846">
                +1 (585) 366 8846
              </a>
            </div>
            <div class="phone-item">
              <a href="tel:+18449762696">
                +1 (844) 976 2696
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-3 col-12 footer_col">
        <div id="subcribe">
          <div class="subcribe_container">
            <div class="subcribe_header">
              <p class="subcribe_text">Sign up to get the latest on sales, new releases and more...</p>
            </div>
            <div class="subcribe_form_inner">
              <div class="subcribe_form_inner error_border" style="display: flex">
                <input type="email" name="email" id="subcribe_input" class="input_common subcribe_input" placeholder="Enter your mail">
                <div>
                  <button class="subcribe_btn" id="subscribe" name="subscribe" type="submit">Subscribe</button>
                </div>
              </div>
              <p class="error_message" id="error_email"></p>
            </div>
          </div>
          <div class="social_item_group mt-4">
            <a href="#" rel="nofollow" target="_blank" class="social_item">
              <i>
                <svg data-icon="osc-icon-facebook" viewBox="0 0 10 18">
                  <use xlink:href="#osc-icon-facebook" />
                </svg>
              </i>
            </a>
            <a href="#" rel="nofollow" target="_blank" class="social_item">
              <i>
                <svg data-icon="osc-icon-twitter" viewBox="0 0 18 15">
                  <use xlink:href="#osc-icon-twitter" />
                </svg>
              </i>
            </a>
          </div>
          <div class="footer_pay_card mt-4">
            <ul class="payment_logos">
              <li class="payment_logos--paypal mr-2">
                <svg data-icon="osc-paypal" viewBox="0 0 512 124.046">
                  <use xlink:href="#osc-paypal" />
                </svg>
              </li>
              <li class="payment_logos--visa mr-2">
                <svg data-icon="osc-brand-icon-visa" viewBox="0 0 62 20">
                  <use xlink:href="#osc-brand-icon-visa" />
                </svg>
              </li>
              <li class="payment_logos--master mr-2 ">
                <svg data-icon="osc-brand-icon-master" viewBox="0 0 28 21">
                  <use xlink:href="#osc-brand-icon-master" />
                </svg>
              </li>
              <li class="payment_logos--dc mr-2">
                <svg data-icon="osc-brand-icon-discover" viewBox="0 0 67 22">
                  <use xlink:href="#osc-brand-icon-discover" />
                </svg>
              </li>
              <li class="payment_logos--ae">
                <svg data-icon="osc-brand-icon-ae" viewBox="0 0 67 23">
                  <use xlink:href="#osc-brand-icon-ae" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <p>Copyright © 2021 Seller. All Rights Reserved</p>
  </div>
</div>
